.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: .5rem 2.5rem;
    font-size: 1.3rem;
    cursor: pointer;
    border-radius: .2rem;
    box-shadow: .2rem;
    box-shadow: $box-shadow;
    transition: $transition;
    &:hover {
        letter-spacing: .2rem;
    }
}
.primary {
    color: $white;
    background-color: $grey;
    &:hover {
        background: $main-color;
    }
}