.FooterWrapper {
    display: flex;
    width: 100%;
    background-color: #111;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    li {
        display: flex;
        flex-direction: column;
        margin: 1rem 2rem;
        color: #d3d3d3;
        h6 {
            font-size: 1.6rem;
            margin-bottom: .3rem;
        }
        .Footer__item {
            font-size: 1.3rem;
            color: #d3d3d3;
            margin-bottom: .3rem;
            cursor: pointer;
            &:hover {
                color: $main-color;
            }
        }
        .social {
            .icon {
                color: #d3d3d3;
                margin: .5rem .5rem;
                font-size: 2rem;
                &:hover {
                    color: $main-color;
                }
            }
        }
    }
    @media (min-width:780px) {
        flex-direction: row;
        padding: 2rem;
    }
}