.Heading {
    text-align: center;
    padding-bottom: 1rem;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: $grey;
    text-shadow: $box-shadow;
    span {
        text-transform: uppercase;
        color: $main-color;
        text-shadow: $box-shadow;
    }
    @media (min-width:780px) {
        padding-bottom: 2rem;
        font-size: 3.3rem;
    }
}