.Home {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 100vh;
    .HomeWrapper {
        margin-top: 2rem;
        text-align: center;
        position: relative;
        img {
            height: 13rem;
            width: 13rem;
            border-radius: 50%;
            object-fit: cover;
            border: .4rem solid $main-color;
            box-shadow: $box-shadow;
        }
        h1 {
            font-size: 2rem;
            color: $text-color;
            text-transform: uppercase;
            text-shadow: $box-shadow;
            span {
                color: $main-color;
                text-transform: uppercase;
                text-shadow: $box-shadow;
            }
        }
        p {
            color: $text-color;
            font-size: 1.3rem;
            line-height: 2;
            span {
                color: $main-color;
                text-transform: uppercase;
                text-shadow: $box-shadow;
            }
        }
        @media (min-width:780px) {
            margin: 1rem;
            img {
                height: 15rem;
                width: 15rem;
            }
            h1 {
                font-size: 2.5rem;
            }
            p {
                font-size: 1.8rem;
            }
        }
    }
}