.Skills {
    background-color: $bg;
    .box-container {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        .box {
            flex: 1 1 10rem;
            border-radius: .5rem;
            background-color: $bg-section;
            box-shadow: $box-shadow;
            padding: 1.5rem;
            text-align: center;
            .icon {
                font-size: 3rem;
                color: $grey;
                margin-bottom: 1rem;
                &:hover {
                    color: $main-color;
                }
            }
            h3 {
                font-size: 1.6rem;
                margin-bottom: .5rem;
            }
        }
    }
}