@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
}
html {
    overflow-x: hidden;
}
html::-webkit-scrollbar{
    width: .7rem;
}
html::-webkit-scrollbar-track{
    background: #fff;
}
html::-webkit-scrollbar-thumb{
    background: #8a1542;
}