@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
}

body {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
}
html {
    overflow-x: hidden;
}
html::-webkit-scrollbar{
    width: .7rem;
}
html::-webkit-scrollbar-track{
    background: #838383;
}
html::-webkit-scrollbar-thumb{
    background: #8a1542;
    border-radius: 1rem;
}
section {
    padding: 5.5rem 7%;
    min-height: 80vh;
    width: 100%;
}